---
layout: default
title: Home
---
<script src="{{ site.baseurl }}Chart.js/Chart.js"></script>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <img src="{{ site.baseurl }}media/150/{{ post.cover }}" onError="this.onerror = null; this.src = '{{ site.baseurl }}media/{{ post.cover }}';" class="header-image-index" /><br />
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}index.html">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} - {{ post.author }}</span>
    <canvas class="radarcanvas" id="myChart-{{ post.title }}" width="180" height="150"></canvas>

    <span>{{ post.content | strip_html | truncatewords: 150 }}</span>
  </div>

  <script>
  var data = {
      labels: [
        {% if (post.atendimento != blank) %}"Atendimento",{% endif %}
        {% if (post.local != blank) %}"Local",{% endif %}
        {% if (post.limpeza != blank) %}"Limpeza",{% endif %}
        {% if (post.tempero != blank) %}"Tempero",{% endif %}
        {% if (post.apresentacao != blank) %}"Apresentação",{% endif %}
        {% if (post.cardapio != blank) %}"Cardápio",{% endif %}
        {% if (post.preco != blank) %}"Preço",{% endif %}
        {% if (post.sobremesa != blank) %}"Sobremesa",{% endif %}

        {% if (post.aroma != blank) %}"Aroma",{% endif %}
        {% if (post.corpo != blank) %}"Corpo",{% endif %}
        {% if (post.docura != blank) %}"Doçura",{% endif %}
        {% if (post.finalizacao != blank) %}"Final",{% endif %}
        {% if (post.acidez != blank) %}"Acidez",{% endif %}
        {% if (post.forca != blank) %}"Força",{% endif %}
      ],
      datasets: [
          {
              label: "Café",
              fillColor: "rgba(255,255,255,0.2)",
              strokeColor: "#caad00",
              pointColor: "#caad00",
              pointStrokeColor: "#caad00",
              pointHighlightFill: "#848482",
              pointHighlightStroke: "#848482",
              data: [
                {% if (post.atendimento != blank) %}{{ post.atendimento }},{% endif %}
                {% if (post.local != blank) %}{{ post.local }},{% endif %}
                {% if (post.limpeza != blank) %}{{ post.limpeza }},{% endif %}
                {% if (post.tempero != blank) %}{{ post.tempero }},{% endif %}
                {% if (post.apresentacao != blank) %}{{ post.apresentacao }},{% endif %}
                {% if (post.cardapio != blank) %}{{ post.cardapio }},{% endif %}
                {% if (post.preco != blank) %}{{ post.preco }},{% endif %}
                {% if (post.sobremesa != blank) %}{{ post.sobremesa }},{% endif %}

                {% if (post.aroma != blank) %}{{ post.aroma }},{% endif %}
                {% if (post.corpo != blank) %}{{ post.corpo }},{% endif %}
                {% if (post.docura != blank) %}{{ post.docura }},{% endif %}
                {% if (post.finalizacao != blank) %}{{ post.finalizacao }},{% endif %}
                {% if (post.acidez != blank) %}{{ post.acidez }},{% endif %}
                {% if (post.forca != blank) %}{{ post.forca }},{% endif %}
              ]
          },
      ]
  };
  var ctx = document.getElementById("myChart-{{ post.title }}").getContext("2d");
  new Chart(ctx).Radar(data,{
        scaleShowGridLines : true,
        scaleGridLineColor : "#caad00",
        scaleLineColor : "#caad00",
        scaleFontColor : "#caad00",
        tooltipFillColor: "#848482",
        tooltipFontColor: "#caad00",
        tooltipTitleFontColor: "#caad00",
        scaleFontFamily:"'PT Sans', Helvetica, Arial, sans-serif",
        tooltipFontFamily:"'PT Sans', Helvetica, Arial, sans-serif",
        tooltipTitleFontFamily:"'PT Sans', Helvetica, Arial, sans-serif",
        scaleGridLineWidth: 1,
        scaleOverride: true,
        scaleSteps: 4,
        scaleStepWidth: 25,
        scaleStartValue: 0,
  });
</script>




  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}/index.html">Antigos</a>
  {% else %}
    <span class="pagination-item older">Antigos</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}index.html">Novos</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}/index.html">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Novos</span>
  {% endif %}
</div>

