.post-header {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.header-image {
  width: 265px;
  height: 265px;
  display: inline;
  border: 0;
  margin: 0;
  margin-left: 30px;
  text-align: middle;
}
.header-image-index {
  width: 150px;
  height: 150px;
  border: 0;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 31px;
  vertical-align: top;
  float: right;
}
.radarcanvas {
  margin-right: 15px;
  float:left;
}