---
layout: default
---

<script src="{{ site.baseurl }}Chart.js/Chart.js"></script>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - {{ page.author }}</span>
  <div class="post-header">
    <canvas id="myChart" width="300" height="250"></canvas>
    <img src="/media/{{ page.cover }}" class="header-image-cafe"/>
  </div>
  {{ content }}
</div>

<div class="related">
  <h2>Posts relacionados</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>



<script>
  var data = {
      labels: [
        {% if (page.aroma != blank) %}"Aroma",{% endif %}
        {% if (page.corpo != blank) %}"Corpo",{% endif %}
        {% if (page.docura != blank) %}"Doçura",{% endif %}
        {% if (page.finalizacao != blank) %}"Finalização",{% endif %}
        {% if (page.acidez != blank) %}"Acidez",{% endif %}
        {% if (page.forca != blank) %}"Força",{% endif %}
        {% if (page.preco != blank) %}"Preço"{% endif %}
      ],
      datasets: [
          {
              label: "Café",
              fillColor: "rgba(255,255,255,0.2)",
              strokeColor: "#caad00",
              pointColor: "#caad00",
              pointStrokeColor: "#caad00",
              pointHighlightFill: "#848482",
              pointHighlightStroke: "#848482",
              data: [
                {% if (page.aroma != blank) %}{{ page.aroma }},{% endif %}
                {% if (page.corpo != blank) %}{{ page.corpo }},{% endif %}
                {% if (page.docura != blank) %}{{ page.docura }},{% endif %}
                {% if (page.finalizacao != blank) %}{{ page.finalizacao }},{% endif %}
                {% if (page.acidez != blank) %}{{ page.acidez }},{% endif %}
                {% if (page.forca != blank) %}{{ page.forca }},{% endif %}
                {% if (page.preco != blank) %}{{ page.preco }}{% endif %}
              ]
          },
      ]
  };
  var ctx = document.getElementById("myChart").getContext("2d");
  new Chart(ctx).Radar(data,{
        scaleShowGridLines : true,
        scaleGridLineColor : "#caad00",
        scaleLineColor : "#caad00",
        scaleFontColor : "#caad00",
        tooltipFillColor: "#848482",
        tooltipFontColor: "#caad00",
        tooltipTitleFontColor: "#caad00",
        scaleFontFamily:"'PT Sans', Helvetica, Arial, sans-serif",
        tooltipFontFamily:"'PT Sans', Helvetica, Arial, sans-serif",
        tooltipTitleFontFamily:"'PT Sans', Helvetica, Arial, sans-serif"
  });
</script>